{% extends "layout.html" %}
{% block body %}

    <h1 style="margin-bottom:50px">書籍一覧</h1>

    <a class="h3" href="{{ url_for('new_entry') }}">書籍の新規追加</a>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>タイトル</th>
                <th>著者・作者</th>
                <th>出版社</th>
                <th>編集</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
            <tr>
                <td>{{ entry.title }}</td>
                <td>{{ entry.auther }}</td>
                <td>{{ entry.publisher }}</td>
                <td>
                    <a href="{{ url_for('edit_entry', id=entry.id) }}">編集</a>｜
                    <a href="{{ url_for('delete_check', id=entry.id) }}">削除</a>
                </td>
            </tr>
            {% else %}
            <td>書籍が登録されていません</td>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}